<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-6 gx-lg-5 align-items-center">
          <div class="col-md-5"><img class="card-img-top mb-5 mb-md-0"  src={{product.imageUrl}} alt="..." /></div>
          <div class="col-md-6">
              <div class="small mb-1">ISBN: {{product.ISBN}}</div>
              <h1 class="display-5 fw-bolder">{{product.title}}</h1>
              <div class="fs-5 mb-1">
                  <span class="text-decoration-line-through">₹{{product.price+249}}</span>
                  <span class="mx-sm-2">₹{{product.price}}</span>
              </div>
              <span>Authored By: {{product.author}}</span>
              <p class="lead mt-3">Description.</p>
              <p>{{product.description}}</p>
              <div class="d-flex">
                 <button (click)="addToCart();" class="btn btn-outline-dark flex-shrink-0" type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Add to cart
                  </button>
              </div>
          </div>
      </div>
  </div>
</section>
