<link
  rel="stylesheet"
  href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv"
  crossorigin="anonymous"
/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4 h-100">
        <div>
          <div>
            <h4 class="font-weight-bold mt-0 mb-4">Past Orders</h4>
            <div class="bg-white card mb-2">
              <div class="gold-members p-2">
                <span class="float-right fw-bold text-secondary"
                  >Order Placed: <font class="text-black">Nov 19, 2021</font></span
                >

                <div class="pull-right">
                  <a class="btn btn-sm btn-primary" href="#"
                    ><i class="icofont-refresh"></i> Delivered</a
                  >
                </div>
                <div class="flexi pl-4 mt-3">
                  <a routerLink="/cart">
                    <img
                      class="mr-4"
                      src="https://qph.fs.quoracdn.net/main-qimg-9716040507f657c16503e5fc7ae6e1d8.webp"
                    />
                  </a>
                  <div class="product-description">
                    <p class="mb-0 text-black text-primary">
                      <span class="text-info fw-bold"
                        >Bhagavad Geeta</span
                      >
                    </p>
                    <p class="mb-0  small">By: Vyasa</p>
                    <p class="mb-3 small ">Qty: 2</p>
                  </div>

                </div>

                <div class="card mt-2">
                  <div class="card-title fw-bold text-secondary">Delivered To:</div>
                   <div> Name: Aniket Pandey</div>
                   <div>Contact: 8840095975</div>
                   <address>3/765, Vastu Khand,Gomti Nagar,Lucknow</address>
                </div>

                <p class="mb-0 text-black text-primary pt-2 pull-right">
                  <span>Paid: <strong>₹500</strong></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
