<link
  rel="stylesheet"
  href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv"
  crossorigin="anonymous"
/>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="p-4 h-100">
        <div>
          <div>
            <h4 class="font-weight-bold mt-0 mb-4">Past Orders</h4>
            <div class="card  mt-3" *ngFor="let order of pastOrders" >
              <div class=" p-2">
                <span class="float-right fw-bold text-black"
                  >Order Placed: <font class="text-black">{{order.orderDate}}</font></span
                >

                <div class="pull-right">
                  <a class="btn btn-sm btn-primary" href="#"
                    ><i class="icofont-refresh"></i> Delivered</a
                  >
                </div>
                <div class="flexi pl-4 mt-3">
                  <a>
                    <img
                      class="mr-4"
                      src={{order.imageUrl}}
                      (click)="openProductDetails(order.id)"
                    />
                  </a>
                  <div class="product-description">
                    <p class="mb-0 text-black text-primary">
                      <span class="text-info fw-bold"
                        >{{order.title}}</span
                      >
                    </p>
                    <p class="mb-0  small">By: {{order.author}}</p>
                    <p class="mb-3 small ">Qty: {{order.qty}}</p>
                  </div>

                </div>

                <div class="card mt-2">
                  <div class="card-title fw-bold text-black">Delivered To:</div>
                   <div> Name : {{order.name}}</div>
                   <div>Contact : {{order.contact}}</div>
                   <address>{{order.address}}</address>
                </div>

                <p class="mb-0 text-black text-primary pt-2 pull-right">
                  <span>Paid: <strong>₹{{order.price*order.qty}}</strong></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
